<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ThoughtAPP - Log In</title>
    <link rel="icon" type="image/png" href="static/img/tab_logo.png">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>ThoughtApp</h1>
        <h2>Save place to think, share, comment</h2>
      </header>
      <main>
        <div class="login-section">
          <h2>Log in</h2>
          <form>
            <label for="username">User Name:</label>
            <input type="text" id="username" name="username"><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>

            <input type="submit" value="Iniciar sesión">
          </form>
        </div>
        <div class="signup-section">
          <p>You do not have an account ? <a href="signup">Sign Up</a></p>
        </div>
      </main>
      <footer>
        <p>© 2023 My ThoughtAPP . All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
