<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ThoughtAPP - Log In</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>ThoughtApp</h1>
        <h2>Save place to think, share, comment</h2>
      </header>
      <main>
        <div class="signup-section">
          <h2>Sign Up</h2>
          <form>
            <label for="username">User Name:</label>
            <input type="text" id="username" name="username"><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br>
            
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name"><br>
            
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name"><br>

            <label for="birth_date">Birth Date:</label>
            <input type="date" id="birth_date" name="birth_date"><br>

            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>

            <input type="submit" value="Sign Up">
          </form>
        </div>
      </main>
      <footer>
        <p>© 2023 My ThoughtAPP . All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
