<!-- Bloque de llamado a plantilla padre : -->
{% extends "components/layout.html" %} 

<!-- Bloque del titulo -->
{% block title %}Home{% endblock %}

<!-- Bloque del contenido -->
{% block content %}
  <div class="row m-sm-5 m-3">
    <h1 class="col">This is FastAPI</h1>
  </div>

  <section class="row justify-content-center">
    <form method="post" action="/user" class="col-sm-5 col-10">
      <div class="mb-3">
        <label for="exampleInputUsername" class="form-label">Username</label>
        <input
          name="username"
          type="text"
          class="form-control"
          id="exampleInputUsername"
          required
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input name="password_user" type="password" class="form-control" id="exampleInputPassword1" required/>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>
{% endblock %}