{% extends "components/layout.html" %} {% block title %}Profile{% endblock %} {%
    block content %}
      <div class="row m-sm-5 m-3">
        <h1 class="col">FastAPI Profile User</h1>
      </div>
    
      <div class="row justify-content-center">
        <div class="card col-5" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Hi <mark>{{ data_user[3] }}</mark></h5>
            <p class="card-text">This is a list with your data.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Firstname: <mark>{{ data_user[1] }}</mark></li>
            <li class="list-group-item">Lastname: <mark>{{ data_user[2] }}</mark></li>
            <li class="list-group-item">Country: <mark>{{ data_user[4] }}</mark></li>
          </ul>
        </div>
      </div>
    {% endblock %}